/.bash_history
/.bash_logout
/.bashrc
/.cache
/.config
/.dbus
/.dmrc
/.fontconfig
/.FontForge
/.fonts
/.gconf
/.gem
/.gimp-*
/.gitconfig
/.gksu.lock
/.gnome*
/.gstreamer-*
/.gtk-bookmarks
/.ICEauthority
/.ireport
/.java
/.local
/.macromedia
/.mozilla
/.netbeans
/.npm
/.osrep
/.pki
/.profile
/.psql_history
/.pulse*
/.rbenv
/.ssh
/.thumbnails
/.thunderbird
/.Xauthority
/.xsession-errors*


# Others
*~
/[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]*